# Node
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log

# Env
.env
.env.local
.env.*.local

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
logs
*.log

# Builds (frontend)
dist/
build/

# Misc
coverage/
*.tgz
